.mainContainer {
  display: flex;
  justify-content: center;
}

.mainForm {
  width: 60vh;
  height: 80vh;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
  background-color: #917c69;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2)
}

.photoContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 60vh;
  margin-top: 30px;
}

.photo:hover {
  transform: scale(1.15);
  z-index: 10;
  cursor: pointer;
}
