.alertForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.alertFailText {
  position: absolute;
  z-index: 100;
  top: 87vh;
  left: 61.5vh;
  width: 70vh;
  height: 10vh;  
  background-color: rgb(161, 92, 92);
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 18px;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2)
}

.alertSuccessText {
  position: absolute;
  z-index: 100;
  top: 87vh;
  left: 61.5vh;
  width: 70vh;
  height: 10vh;  
  background-color: rgb(108, 161, 92);
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 18px;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2)
}
