.gameContainer {
  display: flex;
  justify-content: center;
}

.gameForm {
  width: 60vh;
  height: 80vh;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
  background-color: #917c69;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2)
}

.gameMainContainer {
  display: flex;
  flex-direction: column;
}

.profileInfoContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
}

.profileImg {
  margin: 15px;
  height: 15vh;
  width: 20vh;
  background-color: #bb9f87;
  border-radius: 5px;
  border: 2px solid black;
}

.profileInfo {
  margin: 15px;
  height: 15vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-around;
  color: black;
}

.NoSessionContainer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttonTextContainer {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #a58d77;
  text-decoration: 0;
  color: black
}

.buttonTextContainer:hover {
  z-index: 10;
  cursor: pointer;
  background-color: #9c795a;
  color: #42372c;
}

.playBoxContainer {
  height: 10vh;
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.miniBoxContainer {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 12px;
  height: 10vh;
  width: 25%;
  margin: 0 2px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #917c69;
}

.miniBoxContainer:hover {
  z-index: 10;
  cursor: pointer;
  background-color: #9c795a;
  color: #42372c;
}

.boxContainer {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2px;
  height: 291px;
  width: 56vh;
  background-color: #bb9f87;
}

.congratulationsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.congratzText {
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2);
  background-color: rgb(108, 161, 92);
  text-align: center;
}
