.picturesContainer {
  display: flex;
  justify-content: center;
}

.picturesForm {
  width: 60vh;
  height: 80vh;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
  background-color: #917c69;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2)
}

.addPicturesForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  width: 60vh;
  height: 65vh;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
  background-color: #917c69;
  box-shadow: 2px 2px 50px 11px rgba(34, 60, 80, 0.2)
}

.catPictureContainer {
  width: 45vh;
  height: 50vh;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #bb9f87;
}

.imgContainer {
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #bb9f87;
  width: 45vh;
  height: 50vh;
}

.buttonTextContainer {
  margin-top: 18px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #a58d77;
  text-decoration: 0;
  color: black
}

.buttonTextContainer:hover {
  z-index: 10;
  cursor: pointer;
  background-color: #9c795a;
  color: #42372c;
}

